<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
  style {
    display: none !important;
  }

  ._customer-db {
    display: block !important;
    background: #fff;
    padding: 20px 0;
    margin-bottom: 30px;
  }

  ._customer-db__cnt {
    display: inline-block !important;
    vertical-align: middle;
    width: 190px;
    box-sizing: border-box;
    position: relative;
    margin: 0 !important;
    color: #333333;
    font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
  }

  ._customer-db__cnt span {
    font-weight: 700;
  }

  ._customer-db__btn {
    display: inline-flex !important;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #F7931E;
    border-radius: 4px;
    min-width: auto;
    min-width: 310px;
    box-sizing: border-box;
    padding: 12px 10px 13px;
    text-decoration: none !important;
	font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
  }

  ._customer-db__btn:hover {
    opacity: 0.85;
  }

  ._customer-db__btn-img {
    margin-right: 20px;
  }

  ._customer-db__btn-cnt {
    font-size: 16px !important;

    color: #FFFFFF;
    font-weight: 700;
  }
</style>

<div class="_customer-db">
  <p class="_customer-db__cnt">Скачать прайс-лист</p>
  <a onclick="yaCounter40878864.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st33.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/138/Прайс_MGP_Metal_Насосы.xlsx?1552458413">
    <img class="_customer-db__btn-img" src="img/block_download/download.png" />
    <span class="_customer-db__btn-cnt">Насосы.xlsx</span>
  </a>
</div>
